<select name="component" class="form-control" id="id_component">
<option value="----">----</option>

<option value="Consortium Organization and Data Coordinating Center (CODCC)">Consortium Organization and Data Coordinating Center (CODCC)</option>

<option value="National Institutes of Health (NIH)">National Institutes of Health (NIH)</option>

<option value="TDA - Buck Institute for Research on Aging">TDA - Buck Institute for Research on Aging</option>

<option value="TDA - Brown University">TDA - Brown University</option>

<option value="TDA - Columbia University">TDA - Columbia University</option>

<option value="TDA - Johns Hopkins University">TDA - Johns Hopkins University</option>

<option value="TDA - Massachusetts Institute of Technology">TDA - Massachusetts Institute of Technology</option>

<option value="TDA - Massachusetts General Hospital">TDA - Massachusetts General Hospital</option>

<option value="TDA - Mayo Clinic - Passos">TDA - Mayo Clinic - Passos</option>

<option value="TDA - Mayo Clinic - Schafer">TDA - Mayo Clinic - Schafer</option>

<option value="TDA - Pacific Northwest National Laboratory">TDA - Pacific Northwest National Laboratory</option>

<option value="TDA - Stanford University">TDA - Stanford University</option>

<option value="TDA - University of Michigan">TDA - University of Michigan</option>

<option value="TDA - University of Washington">TDA - University of Washington</option>

<option value="TMC - Buck Institute for Research on Aging">TMC - Buck Institute for Research on Aging</option>

<option value="TMC - Columbia University Irving Medical Center">TMC - Columbia University Irving Medical Center</option>

<option value="TMC - Duke University">TMC - Duke University</option>

<option value="TMC - Johns Hopkins University">TMC - Johns Hopkins University</option>

<option value="TMC - The Jackson Laboratory">TMC - The Jackson Laboratory</option>

<option value="TMC - UConn Health">TMC - UConn Health</option>

<option value="TMC - University of California San Diego">TMC - University of California San Diego</option>

<option value="TMC - University of Minnesota - Robbins">TMC - University of Minnesota - Robbins</option>

<option value="TMC - University of Minnesota - Niedernhofer">TMC - University of Minnesota - Niedernhofer</option>

<option value="TMC - University of Pittsburgh">TMC - University of Pittsburgh</option>

<option value="TMC - Washington University in St. Louis">TMC - Washington University in St. Louis</option>

<option value="TMC - Yale University - Fan">TMC - Yale University - Fan</option>

<option value="TMC - Yale University - Dixit">TMC - Yale University - Dixit</option>

</select>