{% extends "layouts/main_layout.html" %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ config['FLASK_APP_BASE_URI'] }}/registrations">All Registrations</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ 'Denied' if data.stage_user.deny else 'New' }} Registration: {{ data.stage_user.first_name }} {{ data.stage_user.last_name }}</li>
  </ol>
</nav>

<h1>{{ 'Denied' if data.stage_user.deny else 'New' }} Registration: {{ data.stage_user.email }}</h1>

<div class="card">
  <h5 class="card-header">Registration Detail</h5>
  <div class="card-body">
Globus Username associated with registration/profile: {{ data.stage_user.globus_username }} <br /><br />

First name: {{ data.stage_user.first_name }} <br />
Last name: {{ data.stage_user.last_name }} <br />
Email: {{ data.stage_user.email }} <br />
Phone: {{ data.stage_user.phone }} <br />

Component: {{ data.stage_user.component }} <br />
{% if data.stage_user.other_component %}
Other Component: {{ data.stage_user.other_component }} <br />
{% endif %}

Organization: {{ data.stage_user.organization }} <br />
{% if data.stage_user.other_organization %}
Other Rrganization: {{ data.stage_user.other_organization }} <br />
{% endif %}

Role: {{ data.stage_user.role }}<br />
{% if data.stage_user.other_role %}
Other Role: {{ data.stage_user.other_role }} <br />
{% endif %}

<br />
SenNet service(s) access requested: <br />
<ul>
{% for req in data.access_requests_list %}
<li>{{ req }} </li>
{% endfor %}
</ul>

<br />

{% if 'SenNet Data Via Globus' in data.stage_user.access_requests %}
Globus username to be used for SenNet Data group access: {{ data.stage_user.globus_identity }} <br />
{% endif %}

{% if 'SenNet Google Drive Share' in data.stage_user.access_requests %}
Google account for SenNet Google Drive Share: {{ data.stage_user.google_email }} <br />
{% endif %}

{% if 'SenNet GitHub Repository' in data.stage_user.access_requests %}
Github username: {{ data.stage_user.github_username }} <br />
{% endif %}

{% if 'SenNet Slack Workspace' in data.stage_user.access_requests %}
Email for SenNet Slack Workspace: {{ data.stage_user.slack_username }} <br />
{% endif %}

{% if 'protocols.io' in data.stage_user.access_requests %}
Email for protocols.io: {{ data.stage_user.protocols_io_email }} <br />
{% endif %}

<br />
{% if data.stage_user.pm %}
The user would like the following project manager to be copied on all communications: <br />
Name: {{ data.stage_user.pm_name }} <br />
Email: {{ data.stage_user.pm_email }} <br />
{% else %}
No project manager for this user
{% endif %}
<br /><br />

<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#approve_modal">Approve</button>

<!-- Approve Modal -->
<div class="modal fade" id="approve_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Approve new registration</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to approve this new registration?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a href="{{ config['FLASK_APP_BASE_URI'] }}/approve/{{ data.stage_user.globus_user_id }}" class="btn btn-success">Yes, approve</a>
      </div>
    </div>
  </div>
</div>

{% if not data.stage_user.deny %}
<button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#deny_modal">Deny</button>

<!-- Deny Modal -->
<div class="modal fade" id="deny_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Deny registration</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to deny this registration?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a href="{{ config['FLASK_APP_BASE_URI'] }}/deny/{{ data.stage_user.globus_user_id }}" class="btn btn-danger">Deny</a>
      </div>
    </div>
  </div>
</div>
{% endif %}

  </div>
</div>


<!-- Disabled profile matching by Zhou 1/2/2024 -->
{% if data.matching_profiles|length > 0 %}

<div class="card mt-4">
  <h5 class="card-header">Possible Existing Matching Profile</h5>
  <div class="card-body">

{#
<div class="alert alert-info" role="alert">
Matching profiles found and sorted by the total matching score. Scoring:

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Last name match</th>
      <th scope="col">First name match</th>
      <th scope="col">Email match</th>
      <th scope="col">Organization match</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>6</td>
      <td>4</td>
      <td>10</td>
      <td>2</td>
    </tr>
  </tbody>
</table>

The following results only show total score that is greater than the first name match score (4).

</div>
#}

<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Organization</th>
      <th scope="col">SenNet Component</th>

      {#<th scope="col">Match Score</th>#}

      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for profile in data.matching_profiles %}
  <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{ profile.first_name }}</td>
      <td>{{ profile.last_name }}</td>
      <td>{{ profile.deserilized_email }}</td>
      <td>{{ profile.organization }}</td>
      <td>{{ profile.department }}</td>

      {#<td>{{ profile.score }}</td>#}

      <td><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#approve_by_match_modal_{{ loop.index }}">Approve by using this profile</button></td>
    </tr>

    <!-- Approve by match Modal -->
  <div class="modal fade" id="approve_by_match_modal_{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Approve registraiton by using this matched profile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to approve this registration by using the matched profile?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a href="{{ config['FLASK_APP_BASE_URI'] }}/match/{{ data.stage_user.globus_user_id }}/{{ profile.id }}" class="btn btn-primary">Yes, approve by using matched profile</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  </tbody>
</table>

  </div>
</div>
{% endif %}



{% endblock %}