<select name="organization" class="form-control" id="id_organization">
<option value="----">----</option>

<option value="Buck Institute for Research on Aging">Buck Institute for Research on Aging</option>

<option value="Brown University">Brown University</option>

<option value="Columbia University">Columbia University</option>

<option value="Carnegie Mellon University (CMU)">Carnegie Mellon University (CMU)</option>

<option value="Columbia University Irving Medical Center">Columbia University Irving Medical Center</option>

<option value="Department of Biomedical Informatics (DBMI)/Unversity of Pittsburgh(Pitt)">Department of Biomedical Informatics (DBMI)/Unversity of Pittsburgh(Pitt)</option>

<option value="Duke University">Duke University</option>

<option value="EMBL-EBI">EMBL-EBI</option>

<option value="Harvard Medical School">Harvard Medical School</option>
  
<option value="Harvard University">Harvard University</option>

<option value="Indiana University">Indiana University</option>

<option value="Johns Hopkins University">Johns Hopkins University</option>

<option value="La Jolla Institute for Immunology">La Jolla Institute for Immunology</option>

<option value="Massachusetts General Hospital">Massachusetts General Hospital</option>

<option value="Massachusetts Institute of Technology">Massachusetts Institute of Technology</option>

<option value="Mayo Clinic">Mayo Clinic</option>

<option value="National Institutes of Health (NIH)">National Institutes of Health (NIH)</option>

<option value="New York Genome Center">New York Genome Center</option>

<option value="Northeastern University">Northeastern University</option>

<option value="Oregon Health & Science University">Oregon Health & Science University</option>

<option value="The Ohio State University">The Ohio State University</option>

<option value="Pittsburgh Supercomputing Center (PSC)">Pittsburgh Supercomputing Center (PSC)</option>

<option value="Pacific Northwest National Laboratory">Pacific Northwest National Laboratory</option>

<option value="Sanford Burnham Prebys Medical Discovery Institute">Sanford Burnham Prebys Medical Discovery Institute</option>

<option value="Stanford University">Stanford University</option>

<option value="The Jackson Laboratory">The Jackson Laboratory</option>

<option value="The Jackson Laboratory for Genomic Medicine">The Jackson Laboratory for Genomic Medicine</option>

<option value="UConn Health">UConn Health</option>

<option value="University of California San Diego">University of California San Diego</option>

<option value="University of Michigan">University of Michigan</option>

<option value="University of Texas Health Science Center at San Antonio (UTHSCSA)">University of Texas Health Science Center at San Antonio (UTHSCSA)</option>

<option value="University of Minnesota">University of Minnesota</option>

<option value="University of Pittsburgh">University of Pittsburgh</option>

<option value="University of Washington">University of Washington</option>

<option value="Wake Forest University School of Medicine">Wake Forest University School of Medicine</option>

<option value="Washington University in St. Louis">Washington University in St. Louis</option>

<option value="Yale University">Yale University</option>

<option value="Other">Other</option>

</select>
