<select name="role" class="form-control" id="id_role">
<option value="----">----</option>

<option value="Administrative Assistant">Administrative Assistant</option>

<option value="Agreement Specialist">Agreement Specialist</option>

<option value="Chief Scientist">Chief Scientist</option>

<option value="Co-Investigator">Co-Investigator</option>

<option value="Compliance Officer">Compliance Officer</option>

<option value="Computer Scientist">Computer Scientist</option>

<option value="Data Analysis Core">Data Analysis Core</option>

<option value="Data Architect">Data Architect</option>

<option value="Data Curator">Data Curator</option>

<option value="Data Manager">Data Manager</option>

<option value="Data Scientist">Data Scientist</option>

<option value="Designer">Designer</option>

<option value="External Program Consultant">External Program Consultant</option>

<option value="Graduate Student">Graduate Student</option>

<option value="Image Scientist">Image Scientist</option>

<option value="Informatics">Informatics</option>

<option value="Lead Software Developer">Lead Software Developer</option>

<option value="ML Scientist">ML Scientist</option>

<option value="Meeting Facilitator">Meeting Facilitator</option>

<option value="Network Support">Network Support</option>

<option value="PI">PI</option>

<option value="PI (Contact)">PI (Contact)</option>

<option value="Pathology Assessment">Pathology Assessment</option>

<option value="Postdoctoral Fellow">Postdoctoral Fellow</option>

<option value="Program Coordinator">Program Coordinator</option>

<option value="Program Officer">Program Officer</option>

<option value="Project Manager">Project Manager</option>

<option value="Project Scientist">Project Scientist</option>

<option value="Researcher">Researcher</option>

<option value="Scientific Program Manager">Scientific Program Manager</option>

<option value="Software Developer">Software Developer</option>

<option value="Software Engineer">Software Engineer</option>

<option value="System Support">System Support</option>

<option value="Team Leader">Team Leader</option>

<option value="WG Member">WG Member</option>

<option value="Website developer">Website developer</option>

<option value="Other">Other</option>

</select>