Dear {{ data.first_name }} {{ data.last_name }},<br /><br />

Your SenNet Consortium account registration has been approved. You may update your profile information by visiting your <a href="{{ config['FLASK_APP_BASE_URI'] }}/profile">SenNet profile</a>.

If you requested access to other resources, you will be notified separately when access has been granted.<br /><br />

In the meantime, please peruse the information now available to you in the <a href="https://sennetconsortium.org/members/">SenNet Members Portal</a>.
There, you will be able to view the <a href="https://sennetconsortium.org/members/#calendar">Consortium calendar</a>, the <a href="https://sennetconsortium.org/directory/">Consortium directory</a>, and a list of helpful onboarding resources.
If you would like a more general overview of the resources available on <a href="https://sennetconsortium.org/">SenNetConsortium.org</a>, you can view one <a href="https://www.youtube.com/watch?v=3HP-DCLNZGg&themeRefresh=1">here</a>, or visit our <a href="https://sennetconsortium.org/frequently-asked-questions/">FAQs page</a>.
<br /><br />

Thank you!<br /><br />

SenNet Member Registration